@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;400&display=swap');

/* global variables */

:root {
    --primary-color: #17a2b8;
}

/* universal styles */

* {
    font-family: 'Geologica', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* header */
header {
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-top: 25px;
}

/* footer */
footer {
    padding: 30px;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0px;
    text-align: center;
    color: white;
}

.footer-container {
    width: 50%;
    margin: auto;
}

.footer-container h2 {
    margin-bottom: 10px;
}